<h1>Recetas</h1>

<%# This link will only show if the user is allowed to create a recipe %>
<% if can?(:create, Recipe) %>
  <%= link_to "Crear nueva receta", new_recipe_path, class: "btn btn-primary mb-3" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Tiempo (min)</th>
      <th>Dificultad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>
        <td><%= recipe.cook_time %></td>
        <td><%= recipe.difficulty %></td>
        <td>
          <%= link_to "Ver", recipe, class: "btn btn-sm btn-outline-primary" %>

          <%# This link will only show if the user is allowed to update the recipe %>
          <% if can?(:update, recipe) %>
            <%= link_to "Editar", edit_recipe_path(recipe), class: "btn btn-sm btn-outline-secondary" %>
          <% end %>

          <%# This link will only show if the user is allowed to destroy the recipe %>
          <% if can?(:destroy, recipe) %>
            <%= link_to "Eliminar", recipe, data: { turbo_method: :delete, turbo_confirm: "¿Eliminar esta receta?" }, class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>